@model BerrasTheatre.Models.Show

@{
    ViewData["Title"] = "Booked";
}

<h1>Here are your booked tickets.</h1>

<div class="bookingtext">
    <h4>An email confirmation has been sent.</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RemainingSeats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RemainingSeats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salon.Id)
        </dd>
        <dt class="col-sm-2">
            Ticket Price
        </dt>
        <dd class="col-sm-10">
            @ViewData["TicketPrice"] Sek
        </dd>
        <dt class="col-sm-2">
            Total Ticket Price
        </dt>
        <dd class="col-sm-10">
            @ViewData["TotalTicketPrice"] Sek
        </dd>
    </dl>
</div>
<hr />
<h3>Thank you, Enjoy your movie!</h3>
<br>
<hr />
<div>
    <a asp-action="Index">Back to Movies</a>
</div>
